h1{
 color: brown;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.ds{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}
.rd{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}