body{
    font-family: "Diplomata", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url();
 
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 9px 9px 9px rgb(0, 255, 170);
}
form{
    display: flex;
    width: 600px;
    margin: 0 auto;
    flex-direction: column;
    gap: 16px;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgb(0, 255, 149);
}
input{
    padding:  14px  8px;
    border-radius: 6px;
    border: 1px solid rgb(9, 255, 0);
}
button{
    padding: 10px 8px;
    border: nome;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}